*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .pt{
    font-size: 20px;
    color:black;
    text-align: center;
   
  }

  .pp{
    margin-left: 1%;
  }

  .bio-50{
    height: 40px;
    background-color:#afcdea;
    text-align: center;
  }
  .bio-50 p{
    font-size: 19px;
  }

  img{
    border-radius:50%;
    width: 19%;
    height: 19%;
    margin-top: 5%;
  }

  .perfil{
    text-align: center;
  }

 body{
   background-image:url("fundosite.jpg");
   background-size: cover;
 }


  .banner{
    text-align: center;
  }


 .dfc-1{
  display: flex;
  justify-content: center;
 }

footer{
    font-size: 18px;
    left: 0;
    bottom:0;
    width:100%;
    text-align: center;
    background-color:#afcdea;

}

@media screen and (max-width:768px){
    .banner{
        margin-bottom: 20px;
        width:100%;
        flex-wrap:wrap;
    }
    .dfc{
        margin-bottom: 20px;
        width:100%;
        flex-wrap:wrap;
    }



    .menu a{
        margin-bottom: 20px;
        width:100%;
        flex-wrap:wrap;
    }


    .perfil{
      height: 50%;
      margin-top: 19%;
    }

}